* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-color);
  color: var(--white);
}

:root {
  --primary-color: #d8a43e;
  --secondary-color: #af8d44;
  --bg-color: #141414;
  --light-gray: #d8d8d8;
  --white: #ffffff;
  --black: #000000;
  --transition: 0.5s ease-in-out;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 5rem 150px;
}

.btn {
  width: 150px;
  padding: 15px;
  cursor: pointer;
  border: 0 solid white;
  border-radius: 50px;
  background: transparent;
  font-size: 14px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--black);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--black);
}

.outline-btn {
  border: 1px solid var(--white);
  color: var(--white);
}

.textfield {
  background: transparent;
  border: none;
  border-radius: 0;
  outline: 0;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 10px 0;
}

::placeholder {
  color: var(--text-color);
}




/* MEDIA QUERY */
@media screen and (max-width: 1440px) {
  .container {
      padding: 7rem 100px;
  }
}

@media screen and (max-width: 700px) {
  .container {
      padding: 10rem 50px;
  }
}


@media screen and (max-width: 420px) {
  .container {
      padding: 8rem 20px;
  }
}